<%- include("partials/header.ejs") %>
<script>
    document.getElementById("about").classList.add("active");
</script>

<div class="container about_box">
    <h2>About Us</h2>
    <p>This a blog website created by Minam </p>
</div>
<%- include("partials/footer.ejs") %>
          
